<div class="container">
    <div class="row">
        <div class="col">

            <div class="card mt-3">
                <div class="card-header bg-dark">Thao tác</div>
                <div class="card-body">
                    <button class="btn btn-primary" (click)="openAddNew()">Thêm mới blog</button>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header bg-dark">Danh sách tiền tố</div>
                <div class="card-body">
                    <ng2-smart-table [settings]="settings" [source]="fakeData" (deleteConfirm)="onDeleteConfirm($event)"
                        (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">
                    </ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>